html {
    font-size: 1.25rem;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h3 {
    font-size: 1.35rem;
    font-weight: 200;
    margin-bottom: 20px;
}

div {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 50%;
    max-width: 500px;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 576px;
}

input,
label {
    margin: 8px 0;
}

label {
    font-size: 1.05rem;
}

input {
    border: none;
    font-size: 1rem;
    padding: 14px;
    padding-left: 14px;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    /* -webkit-box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%); */
}

.nav {
    text-align: center;
}

.navButton {
    border: none;
    margin: 5px;
    width: 165px;
    padding: 10px 8px;
    border-radius: 0;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

button {
    font-size: 1rem;
    margin: 8px 0 4px;
    padding: 14px;
    border-radius: 5px;
    border: 1px rgb(233, 232, 232) solid;
    cursor: pointer;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
}

.resetButton {
    box-shadow: none;
    background-color: rgb(250, 228, 228);
    padding: 10px 17px;
}

button:active {
    opacity: 0.8;
}

.resDiv {
    display: block;
    text-align: center;
    height: 0;
    font-size: 1.05rem;
    width: 100%;
    margin-bottom: 10px;
    overflow-wrap: break-word;
    opacity: 0;
}

.resDivAfter {
    height: auto;
    text-align: center;
    padding: 7px 0;
    border: 1px rgba(205, 206, 206, 0.5) solid;
    opacity: 1;
    box-shadow: 0 2px 5px 1px rgb(64 60 67 / 16%);
    transition: 350ms;
}

p {
    line-height: 1.5rem;
    margin: 5px 15px;
}

@media (min-width: 580px) {
    div {
        width: 70vw;
    }
}

@media (max-width: 580px) {
    div {
        width: 80%;
    }
}

@media (max-width: 420px) {
    div {
        width: 100%;
    }

    .navButton {
        font-size: 0.9rem;
    }
}

@media (max-width: 375px) {
    .navButton {
        display: block;
        margin: 0;
        margin-bottom: 8px;
        width: 100%;
    }
}